.debug {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #000;
  border-top: 2px solid #f57401;
  font-size: 16px;
  color: #fff;
  z-index: 1000;
  user-select: none;
  -webkit-user-select: none;
}

.debug-panel-menu {
  height: 28px;
  background: #222;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #000000),
    color-stop(1, #333)
  );
  background: -moz-linear-gradient(center bottom, #000000 0%, #333 100%);
  background: -o-linear-gradient(#333, #000000);
}

.debug-panel-menu div {
  float: left;
  height: 22px;
  padding: 6px 8px 0 8px;
  border-right: 1px solid #333;
}

.debug-panel-menu .debug-head {
  font-weight: bold;
  color: #888;
}

.debug-menu-item {
  color: #fff;
}

.debug-menu-item:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.debug-menu-item.active,
.debug-menu-item.active:hover {
  background-color: #000;
  color: #fff;
}

.debug-stats {
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  color: #888;
  border-left: 1px solid #333;
  text-align: right;
}

.debug-stats span {
  width: 3em;
  display: inline-block;
  color: #fff !important;
  margin-right: 0.2em;
  margin-left: 0.3em;
  font-family: bitstream vera sans mono, courier new;
  white-space: nowrap;
}

.debug-panel {
  height: 152px;
  overflow: auto;
  position: relative;
}

.debug-panel canvas {
  border-bottom: 1px solid #444;
}

.debug-panel .debug-panel {
  padding: 8px;
  height: auto;
  float: left;
  background-color: #000;
  border-right: 2px solid #222;
}

.debug-option {
  padding: 2px 0 2px 8px;
  cursor: pointer;
}

.debug-option:first-child {
  margin-top: 8px;
}

.debug-option:hover {
  background-color: #111;
}

.debug-graph-mark {
  position: absolute;
  color: #888;
  left: 4px;
  font-size: 10px;
  margin-top: -12px;
}

.debug-label-mark {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
}

.debug-legend {
  color: #ccc;
}

.debug-legend-color {
  display: inline-block;
  width: 6px;
  height: 10px;
  margin-right: 4px;
  margin-left: 16px;
}

.debug-legend-number {
  width: 3em;
  display: inline-block;
  text-align: right;
  font-family: bitstream vera sans mono, courier new;
  color: #fff;
  margin-right: 0.2em;
}

.debug-map-container {
  position: relative;
  overflow: hidden;
  border: 1px solid #888;
}

.debug-map-container canvas {
  position: absolute;
}

.debug-map-screen {
  position: absolute;
  border: 1px solid #f0f;
}
