#debug-panel {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
}

#debug-panel div:not(:first-child) {
  margin-top: 3rem;
}

#debug-heading {
  margin-bottom: 1rem;
  font-weight: bold;
}

#debug-active-entities-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.debug-active-entities-item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

#debug-entity table {
  border-spacing: 10px 5px;
}

.dual-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.toggle {
  cursor: pointer;
}
